@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
  --body-color: #eee;
  --font-color: #222;
  --font: 'Poppins';
  --size: 1.5rem;
}
html,
body {
  height: 100%;
  user-select: none;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: var(--font);
  color: var(--font-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* Dark mode styles */
/* .dark-mode {
  background-color: var(--font-color);
  color: var(--body-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
} */

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  margin: 0;
}
p {
  margin: 0;
  font-size: 0.65em;
  opacity: 70%;
}
.final {
  font-size: var(--size);
  width: 50%;
  height: 100%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.subject {
  text-align: center;
  padding: 10px 0 10px 0;
}
.subj {
  text-align: left;
}
.final {
  text-align: center;
}
label {
  display: inline-block;
  width: 400px;
  text-align: right;
}
input[type='text'] {
  text-align: center;
  font-family: var(--font);
  color: var(--font-color);
  border: 0px;
  border-bottom: 1px solid var(--font-color);
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.dark-mode input[type='text'] {
  background-color: var(--font-color);
  color: var(--body-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-bottom: 1px solid var(--body-color);
}
input[type='text']:focus {
  outline: none;
}
button {
  background: white;
  font-family: var(--font);
  color: var(--font-color);
  height: 50px;
  width: 150px;
  margin: 0 auto;
  font-size: 0.7em;
  border: 1px solid var(--font-color);
}
button:hover {
  background: var(--font-color);
  font-family: var(--font);
  color: var(--body-color);
  border: 1px solid var(--body-color);
  cursor: pointer;
}
/* #dark-mode-btn {
  font-size: 1.3em;
  position: absolute;
  top: -2px;
  right: -5px;
  height: 35px;
  width: 200px;
} */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  html,
  body {
    padding-top: 3rem;
    padding-bottom: 5rem;
    font-size: 0.7rem;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .final {
    width: 70%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }

  label {
    display: inline-block;
    width: 100%;
    text-align: right;
  }

  /* Make the input fields smaller */
  input[type='text'] {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  /* Center the submit button */
  button {
    margin: 10px auto;
  }
}
